@import "tailwindcss";

@theme{
  --color-osnovnoy-tekst: #686868;
  --color-aksentnyy: #2f70d9;
  --color-cvet-cta:#d95845;
  --color-footer: #282828;


}

.link{
  @apply text-[20px] tracking-wide text-osnovnoy-tekst
}

.extra::after{
  content: url('./images/Выделение.png');
  display: flex;
  margin-top: -5px;
  margin-left: -5px;
}